<div class="d-flex flex-column p-3">

  <div class="w-100">

    <h3 class="d-inline-block float-left">
      All Persons
    </h3>

    <button class="btn btn-primary float-right" (click)="goToAddPerson()">
      Add Person
    </button>

  </div>

  <hr class="w-100">

  <div class="row w-100">

    <div class="col-4 p-3" *ngFor="let user of userArray">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Name : {{ user?.name }}</h4>
          <h4 class="card-title">Age : {{ user?.age }}</h4>
          <h4 class="card-title">Email : {{ user?.email }}</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <a class="btn btn-primary" [routerLink]="['/edit', user?.email ]" [queryParams]="{ age : user?.age , pincode : user?.address?.pincode}">
            Edit Profile
          </a>
        </div>
      </div>
    </div>

  </div>

</div>